<nav class="text-center">
    <a class="text-2xl text-white mx-4" href="/"><i class="fa-solid fa-house"></i></a>
    <a class="text-2xl text-white mx-4" href="/add"><i class="fa-solid fa-plus"></i></a>
</nav>