<%- include("partials/_header.ejs") -%>

<body class="min-h-screen flex justify-center mt-[8rem] bg-gradient-to-tr from-[#0F2027] to-[#2C5364]">
    <div class="w-[360px]">
        <%- include("partials/_nav.ejs") -%>
        <div>
            <h1 class="text-white text-3xl text-center uppercase border-2 mt-4 py-3">Add Todo</h1>
            <form method="POST" class="mt-4" action="/add">
                <input type="text" placeholder="Enter your todo" name="todo" class="w-full py-1 px-2 rounded-sm"/>
            </form>
        </div>
    </div>
</body>
</html>